Package: myautohotspot
Version: 1.1.1
Architecture: all
Depends: bash,coreutils,net-tools
Maintainer: Pesti Tamás <ptamas2002@gmail.com>
Description: Automatize hotspot turning on and off depending on ethernet and wifi connections.
